[Desktop Entry]
Type=Application
Version=%ver
Name=mDrive
Comment=mDrive motor controller application
Exec=mDrive_Direct_Control
Icon=mDrive
Terminal=false
Categories=Utility;
