[Desktop Entry]
Type=Application
Version=%ver
Name=mDrive
Comment=mDrive motor controller application
Exec=mDDC
Icon=mDrive
Terminal=false
Categories=Utility;
