[Desktop Entry]
Type=Application
Version=%ver
Name=mDrive
Comment=mDrive motor controller application
Exec=xilab
Icon=xilab
Terminal=false
Categories=Utility;